


.meet-text {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (optional) */
  /* background-color: pink; */
  width: 1239px;
  padding-left: 135px;
}

.meet-text p {
  color: #1D356D;
  font-weight: bold;
  font-size: 65px;
}

.About_us_content {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.containers {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 1239px;
  background-color: #367BCA;
  padding: 40px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.photo {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  color: White;
  font-weight: bold;
  font-size: 44px;
  text-align: center;
}

.photo p {
  margin-top: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: solid;
  border-width: 5px;
  border-color: #355C96;
  border-radius: 10px;
}

.about-text {
  flex: 1;
  height: 400px;
  color: Black;
  font-size: 30px;
  background-color: #F8F8F8;
  border: solid;
  border-width: 5px;
  border-color: #355C96;
  border-radius: 10px;
  /* padding: 30px 75px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content {
  flex: 1;
  align-content: center;
  padding-left: 95px;
}

.text-content p {
  width: 750px;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 40px;
}

.social-icons a {
  display: inline-block;
  transition: transform 0.3s, opacity 0.3s;
}

.social-icons a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.social-icons svg {
  width: 35px;
  height: 35px;
  fill: #0077B5;
}

.social-icons .github-icon {
  fill: #333;
}


